body{
    font-family: Roboto;
    margin: 0;
} 

#s1{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/assets/presentation.JPG) no-repeat center fixed;
    background-size: cover;
    background-attachment: scroll;
}

.section{
    display: flex;
    flex-direction: row;
}

/* Section 1 - Part 1 */
*{
    padding: 0;
  }
  nav{
    height: 99px;
    width: 100%;
  }
  label img{
    padding-top: 2vh;
    height: 80px;
    cursor: pointer;
    margin-left:5%;
  }
  nav ul{
    float: right;
    margin-right: 5%;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-weight: 500;
  }
  nav ul li a{
    padding: 7px 13px;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }

#home{
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

/* Apply Now button */
.btn{
    background-color: #0d0;
    color:white;
    border-radius: 5px;
    font-size: .9rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    padding: 11px 21px;
    text-decoration: none;
}
a:link ,a:visited{
    color: white;
    text-decoration: none;
}

/* Section 1 - Part 2 */
#s1-p2{
    height: 65vh;
    padding: 11vw 7vw 3vw;
}
#s1-p2-text{
    color: white;
    line-height: 1.3;
    margin-top: 11vh;
}
#text-1{
    font-size: calc((3.5 - 1) * 1.2vw + 1rem);
    font-weight: 400;
}
#text-1 span{
    font-weight: 700;
}
#text-2{
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    margin: 16px 0 0;
    width: 50%;
}
#text-3{
    float: left;
    font-size: calc((1.1 - 1) * 1.2vw + 1rem);
    margin-top: 4vh;
}

/* SECTION 2 */
#s2{
    height: 29vh;
    padding: 3.3vmax 10vw;
}
#s2 div{
    flex-grow: 1;
    text-align: center;
    width:33%
}
#s2 h1{
    text-align: center;
    white-space: pre-wrap;
    color: #18ea19;
    line-height: 1.17;
    margin-top: 0;
    font-size:calc((3.5 - 1) * 1.2vw + 1rem);
}
#s2 p{
    font-weight: 700;
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    line-height: 1.4;
}

/* SECTION 3 */
#s3{
    padding: calc(45vmax / 10) 6vw;
}
#s3-left{
    width: 50%;
    padding: 0 17px;
}
.left-img{
    width: 100%;
}
#s3-right{
    width: 50%;
    line-height: 1.4;
    padding: 0 17px;
}
.right-span{
    font-size: calc((3 - 1) * 1.2vw + 1rem);
}

.right-p{
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    padding-left: 40px;
}
.right-a{
    font-size: calc((1.3 - 1) * 1.2vw + 1rem);
    color: #0d0 !important;
    border-bottom: 1px solid #0d0;
}

/* SECTION 4 */
#s4{
    background-color: #0d0;
    padding: 3.3vmax 6vw;
    text-align: center;
}
#s4 span{
    color: white;
    font-size: calc((3 - 1) * 1.2vw + 1rem);
}
#seCards{
    justify-content: center;
}
#seCards div{
    padding: 17px;
}
#s4 img{
    width: 27vw;
    height: 32vw;
}

/* SECTION 5 */
#s5{
    padding: 3.3vmax 3.3vmax;
}

/* SECTION 6 */
#s6{
    padding: 5vh 6vw;
    text-align: center;
}
#s6 div{
    font-size: calc((2 - 1) * 1.2vw + 1rem);
    padding-left: 15vw;
    padding-right: 15vw;

}
#s6 p{
    font-size: calc((1.3 - 1) * 1.2vw + 1rem);
}

/* SECTION 7 */
#s7{
    padding: 5vh 6vw;
    padding-top: calc(10vmax / 10);
    padding-bottom: calc(10vmax / 10);
    text-align: center;
}
#s7 img{
    width: 56vw;
    height: 23vw;
}

/* SECTION 8 */
#s8{
    padding: 3.3vmax 6vw;
    background-color: #e6e6e6;
    text-align: center;
}
.title-p{
    font-size: calc((2.5 - 1) * 1.2vw + 1rem);
    font-weight: 700;
    margin-top: 0;
}
#s8-flex{
    flex-wrap: wrap;
}
#s8-flex div{
    width: 22%;
    padding: 1%;
}
#s8-flex img{
    width: 100%;
}

/* SECTION 9 */
#s9{
    padding: 3.3vmax 6vw;
    text-align: center;
}
#s9-flex div{
    width: 25%;
}

/* SECTION 10 */
#s10{
    padding:0.5vw 6vw;
    padding-bottom: 5vw;
    background-color: #e6e6e6;
    text-align: center;
}
#s10 p{
    font-size: calc((2.5 - 1) * 1.2vw + 1rem);
}
#s10 a{
    border: 1px solid black;
    border-radius: 5px;
    padding: 13px 20px;
    color: white;
    background-color: black;
    font-size: calc((1.3 - 1) * 1.2vw + 1rem) ;
}

/* SECTION 11 */
#s11{
    padding: 3.3vmax 7vw;
    background-color: black;
    color: white;
    align-items: center;
    font-size: calc((1.1 - 1) * 1.2vw + 1rem);
    display: flex;
    justify-content: space-between;
}
#s11 a{
    color: #0d0;
    border-bottom: 1px solid #0d0;
}
#s11 i{
    padding-left: 20px;
    font-size: calc((1.3 - 1) * 1.2vw + 1rem);
}
#right{
    display: flex;
}
.checkbox{
    display: none;
}

@media only screen and (max-width: 767px) {
    .section{
        flex-direction: column;
    }
    /* Section 2 */
    #s2{
        height: 100%;
        padding-top: 3.3vmax;
        align-items: center;
    }
    
    /* Section 3 */
    #s3-left{
        width: 100%;
        padding: 17px;
    }
    #s3-right{
        width: 100%;
        line-height: 1.4;
        padding: 17px;
    }
     /* Section 4 */
     #s4 img{
        width: 100%;
        height: 100%;
    }
    /* Section 6 */
    #s6 div{
        font-size: calc((2 - 1) * 1.2vw + 1rem);
        padding-left: 0;
        padding-right: 0;
    }
    /* Section 7 */
    #s7 img{
        width: 100%;
        height: 100%;
    }
    /* Section 8 */
    #s8-flex div{
        width: 100%;
        padding: 3%;
    }
    /* Section 9 */
    #s9-flex div{
        width: 100%;
    }
    /* Section 11 */
    #s11{
        display: block;
    }
    #left{
        float: left;
    }
    #center::before{
        content: '\A';
        white-space: pre;
    }
    #center{
        padding: 7%;
        text-align: center;
    }
    #right{
        float: right;
    }
}

  @media (max-width: 965px){
    nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0;
        font-weight: 500;
      }
      nav ul li a{
        padding: 7px 4.5px;
      }

  }
  @media (max-width: 767px){
    .checkbtn{
      display: block;
      overflow: hidden;
    }
    ul{
      margin: 0;
      position: fixed;
      width: 100%;
      height: 100vh;
      background: white;
      top: 80px;
      left: -100%;
      text-align: center;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
      color: black !important;
      font-weight: 500 !important;
      font-size: 6vmin !important;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  