body{
    font-family: Roboto;
    margin: 0;
} 

#s1{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/assets/presentation.JPG) no-repeat center fixed;
    background-size: cover;
    background-attachment: scroll;
}

/* Section 1 - Part 1 */

#s1-p1{
    padding: 1vw 7.5%;
}

#nav-bar{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 2em;
    color: #fff;
    width: 100%;
    height: 79.9px;
    line-height: 1;
    display: flex;
}

/* Left - Navbar */
#left-nav{
    float: left;
}
#seLink{
    cursor: pointer;
}
#seLink img{
    height: 80px;
}

/* Right - Navbar */
#right-nav{
    float: right;
    margin: auto;
    display: flex;
    flex: 1 1;
    align-items: center;
    justify-content: space-between;
}
#r-nav{
    float: right;
    margin: auto;
    display: flex;
    flex: 1 1;
    align-items: center;
    flex-basis:600px;
    flex-shrink: 0;
    
}
#r-nav>div{
    flex: 1 1 auto;
    text-align: right
}
#l-nav{
    float: left;
    width:44%;
    flex-shrink: 2;
}

#home{
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

/* Apply Now button */
.btn{
    background-color: #0d0;
    color:white;
    border-radius: 5px;
    font-size: .9rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    padding: 11px 21px;
    text-decoration: none;
}
a:link ,a:visited{
    color: white;
    text-decoration: none;
}


/* Section 1 - Part 2 */
#s1-p2{
    height: 60vh;
    padding: 11vw 7vw 3vw;
}
#s1-p2-text{
    color: white;
    line-height: 1.3;
    margin-top: 11vh;
}

#text-1{
    font-size: calc((3.5 - 1) * 1.2vw + 1rem);
    font-weight: 400;
}
#text-1 span{
    font-weight: 700;
}

#text-2{
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    margin: 16px 0 0;
    width: 50%;
}
#text-3{
    float: left;
    font-size: calc((1.1 - 1) * 1.2vw + 1rem);
    margin-top: 4vh;
}

/* SECTION 2 */
#s2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 29vh;
    padding: 7vh 10vw;
}

#s2 div{
    flex-grow: 1;
    text-align: center;
    width:33%
}

#s2 h1{
    text-align: center;
    white-space: pre-wrap;
    color: #18ea19;
    line-height: 1.17;
    margin-top: 0;
    font-size:calc((3.5 - 1) * 1.2vw + 1rem);
}
#s2 p{
    font-weight: 700;
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    line-height: 1.4;
}


/* SECTION 3 */
#s3{
    padding: 20vh 6vw;
    display: flex;
    flex-direction: row;
}

#s3-left{
    width: 50%;
    padding: 0 17px;
}
#s3 img{
    width: 100%;
}

#s3-right{
    width: 50%;
    line-height: 1.4;
    padding: 0 17px;
}

#s3-right span{
    font-size: calc((3 - 1) * 1.2vw + 1rem);
}

#s3-right p{
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    padding-left: 40px;
}

#s3-right a{
    font-size: calc((1.3 - 1) * 1.2vw + 1rem);
    color: #0d0;
    border-bottom: 1px solid #0d0;
}


/* SECTION 4 */
#s4{
    background-color: #0d0;
    padding: 6.5vh 6vw;
    text-align: center;
}

#s4 span{
    color: white;
    font-size: calc((3 - 1) * 1.2vw + 1rem);
}

#seCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#seCards div{
    padding: 17px;
}

#s4 img{
    width: 27vw;
    height: 32vw;
}


/* SECTION 5 */
#s5{
    padding: 10vh 6vw;
    display: flex;
    flex-direction: row;
}

#s5-left{
    width: 50%;
    padding: 0 17px;
}
#s5 img{
    width: 100%;
}

#s5-right{
    width: 50%;
    line-height: 1.4;
    padding: 0 17px;
}

#s5-right span{
    font-size: calc((3 - 1) * 1.2vw + 1rem);
}

#s5-right p{
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    padding-left: 40px;
}

#s5-right a{
    font-size: calc((1.3 - 1) * 1.2vw + 1rem);
    color: #0d0;
    border-bottom: 1px solid #0d0;
}

/* SECTION 6 */
#s6{
    padding: 5vh 6vw;
    text-align: center;
}

#s6 div{
    font-size: calc((2 - 1) * 1.2vw + 1rem);
    padding-left: 15vw;
    padding-right: 15vw;

}

#s6 p{
    font-size: calc((1.3 - 1) * 1.2vw + 1rem);
}

#s6 img{
    width: 100%;
}

/* SECTION 7 */
#s7{
    padding: 5vh 6vw;
    padding-top: calc(10vmax / 10);
    padding-bottom: calc(10vmax / 10);
    text-align: center;
}

#s7 img{
    width: 56vw;
    height: 23vw;
}

/* SECTION 8 */
#s8{
    padding: 3.3vmax 6vw;
    background-color: #e6e6e6;
    text-align: center;
}

#s8 p{
    font-size: calc((2.5 - 1) * 1.2vw + 1rem);
    font-weight: 700;
    margin-top: 0;
}

#s8-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#s8-flex div{
    width: 22%;
    padding: 1%;
}

#s8-flex img{
    width: 100%;
}
